--extra-index-url https://download.pytorch.org/whl/cu118



opencv-python==4.11.0.86
numpy<2
PyGetWindow==0.0.9
mss==10.0.0
pillow==11.1.0
pyperclip==1.9.0
paddleocr==2.10.0
pywin32==310
openai==1.69.0
paddlepaddle==3.0.0
easyocr==1.7.2
torch==2.2.2
winsdk==1.0.0b10